body {
  display: block;
}

/* css for header start */
header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  position: fixed;
  height: 80px;
  z-index: 1;

}

.logo {
  display: flex;
/*  margin-left: 50px;*/


  }

 .logo span {
   padding-top: 20px;
   color: MediumAquamarine;
   padding-left: 10px;
   flex-wrap: nowrap;
 }

.top_navigation {
  margin-right: 60px;
}

.top_navigation a {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

/* css used for main section*/

/* main section big container on the left */

div {
  border: 1px solid black;
}
.main-container {
  display: flex;
  justify-content: space-around;
}
/* large column */
.column-large {
  width: 630px;
  padding-top: 120px;
}

.main-article-image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.column-medium {
  width: 300px;
  padding-top: 120px;
}

.column-small {
  padding-top: 120px;
  width: 240px;
}

.column-small img {
  width: 230px;
  height: 230px;
}
